<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     MyG 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MyG</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment (ionChange)="segmentChanged($event)" value="list" >
    <ion-segment-button value="list">
      <ion-label>Tasks</ion-label>
    </ion-segment-button>
    <ion-segment-button value="profile">
      <ion-label>Onboard</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-content *ngIf="!showProfilePage">
    <ion-row class="ion-padding">
      <ion-col>
        <ion-label>TaskID</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Assignment Date</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Customer Information</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Location</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Address</ion-label>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-badge>Pending</ion-badge>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-label>1232323</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Jun 03, 2021</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Ellawala, Ruveni</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>87107</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>228, Baker Street</ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-badge>Completed</ion-badge>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-label>232323</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Jun 04, 2021</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Harold, Bell</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>87104</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>1234, ABC Street</ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <onboarding-page profile-id="1234455" *ngIf="showProfilePage"></onboarding-page>
</ion-content>
